
#contact_client-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 940px;
  margin:0 auto;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  justify-content: flex-start;
  padding-top: 10%;
  padding-bottom: 8%;
}

.contact #form {
  flex-grow: 1;
  flex-basis: 50%;
}

.contact #clients {
  flex-grow: 1;
  flex-basis: 50%;
}

form {
  width: 100%;
}

#form > form input {
  font-family: 'Roboto', sans-serif;
  padding: 3%;
  margin-bottom: 3%;
  width: 80%;
  border: 1px solid #BFBEC1;
}

#form > form textarea {
  font-family: 'Roboto', sans-serif;
  border: 1px solid #BFBEC1;
  margin-bottom: 3%;
  width: 80%;
}

::placeholder {
  color: rgb(173, 173, 173);
  font-size: 1.01em;
  font-family: "Roboto", serif;
  font-weight: 500;
}

#zara {
  height: 1.4em;
  width: auto;
}
#clientContainer {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
}
#clientContainer > * {
  flex-grow: 1;
}
#firstClientCol,
#secondClientCol {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  flex: 1;
  max-height: 480px;
  align-items: center;
}
#firstClientCol > *,
#secondClientCol > * {
  margin: 1em;
  height: 4.3em;
}
