
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 1600px;
	margin: 0 auto;
}

button {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	color:#00E0D0;
	border: 1px solid #00E0D0;
	border-radius: 5px;
	padding:1em;
	background-color: transparent;
	transition: color 0.3s ease-out;
}