#our_story-section{
	padding-left: 64px;
    padding-right: 64px;
}

.story-article {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 9%;
	/**/
	box-sizing: border-box;
	max-width: 940px;
	margin: 0 auto;
	padding: 5% 3% 5% 0;
	color: #888888;
	background-color: white;
	/**/
}

.story-article .story-logo {
	flex-basis: 30%;
}

.story-article .story-text {
	flex-basis: 70%;
}
.story-article .story-logo .img-logo {
	max-width: 100%;
}

.story-article p {
	margin-bottom: 1.6rem;
	font-family: Roboto, sans-serif;
	font-size: 0.95rem;
	line-height: 1.5;
}


/* section watch */

#watch-section {
	width: 100%;
	background-image: url('img/bgk-middle.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-left: 64px;
    padding-right: 64px;
}

.watch-article {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}



.watch-article .play_img {
	position: absolute;
	margin: 0 auto;
	/* left: 0; */
	/* right: 0; */
	cursor: pointer;
}

.watch-article-bg_img {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 550px;
}

.watch-article-bg_img img{
	cursor: pointer;
	padding-bottom: 24px;
}


@media screen and (max-width:720px) {
    
	#our_story-section {
	padding-left: 32px;
	padding-right: 32px;
	}
  
  
	}
	
	@media screen and (max-width:450px) {
	  #our_story-section {
			padding-left: 16px;
			padding-right: 16px;
			}
		
		 
	}